<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key><string>foo.paranoid.sketchybar.next-event</string>
  <key>CFBundleName</key><string>next_event</string>
  <key>NSCalendarsUsageDescription</key><string>Afficher le prochain rendez-vous dans SketchyBar.</string>
  <key>NSCalendarsFullAccessUsageDescription</key><string>Afficher le prochain rendez-vous dans SketchyBar.</string>
</dict>
</plist>
